<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /PixMart/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /PixMart/index.html [L]
</IfModule>